@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=League+Spartan:wght@500;700&display=swap');
:root {
  --primary: hsl(180, 29%, 50%);
  --neutral-1: hsl(180, 52%, 96%);
  --neutral-2: hsl(180, 31%, 95%);
  --neutral-3: hsl(180, 8%, 52%);
  --neutral-4: hsl(180, 14%, 20%);
  --font-size: 15px;
  --font-family: League Spartan;
  --font-weight-1: 500;
  --font-weight-2: 700;
  --transition: all 0.3s linear;
}
.effect {
  cursor: pointer;
  transition: var(--transition);
}
.effect:hover {
  color: var(--primary);
}
.html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.company {
  color: var(--primary);
}
.group {
  margin-left: 7rem;
  margin-top: -5.4rem;
}
.list {
  margin-left: -2rem;
}
.designation {
  position: relative;
  right: 35rem;
}
.header-img {
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 2rem;
}
.exclusiveBorder {
  border-left: 4px solid var(--primary);
  border-radius: 4px;
}
.item {
  box-shadow: 1px 1px 10px 1px;
}
.skill li {
  list-style-type: none;
}
.skill {
  margin-top: 1.7rem;
  margin-left: 10rem;
}

.title {
  margin-top: 2px;
  color: var(--primary);
  height: 10%;
}
.new {
  background-color: var(--primary);
  height: 1.5rem;
  width: 3rem;
  text-align: center;
  color: var(--neutral-1);
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: var(--font-size);
  padding: 0 10px 0 10px;
}
.featured {
  background-color: var(--neutral-4);
  height: 1.5rem;
  width: 5rem;
  text-align: center;
  color: var(--neutral-1);
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: var(--font-size);
  padding: 0 10px 0 10px;
}

/* Filter */
.filter {
  box-shadow: 1px 1px 10px 1px;
}
.filter-type {
  padding-top: 3px;
}
.filter-item {
  padding-top: 4px;
  height: 2.2rem;
  box-shadow: 1px 1px 5px 1px;
  border-radius: 0.3rem;
}
.filter-item h6 {
  color: var(--primary);
  height: 1.8rem;
}
.filter-item button {
  height: 2.2rem;
  position: relative;
  bottom: 4.3px;
  border-radius: 5px;
}

/* Category */
.category {
  background-color: var(--neutral-1);
  color: var(--primary);
  font-weight: var(--font-weight-2);
  padding: 6px 4px 6px 4px;
  border-radius: 3px;
  cursor: pointer;
  transition: var(--transition);
}

.category:hover {
  color: white;
  background-color: var(--primary);
}
.job:hover {
  color: var(--primary);
  cursor: pointer;
  transition: var(--transition);
}

.filter {
  width: 60%;
  height: 4rem;
  background-color: var(--neutral-1);
  position: absolute;
  bottom: 45rem;
  margin-left: 23rem;
  border-radius: 10px;
  z-index: 999;
}
